SECRET_KEY=supersecretjwtkey
DATABASE_URL=postgresql://postgres:postgres@db:5432/talentlink
REDIS_URL=redis://redis:6379/0
BACKEND_CORS_ORIGINS=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000

